/*html문서상 body태그 즉 화면상 모든 부분*/
body {
    text-align: center;
    background-color: #1d2847;
    color: #ffffff;        
}
/*본격적으로 세멘틱 태그를 구현하기 전 모든 태그를 감싸는 바탕화면*/
div#wapper {
    width: 1200px; 
    text-align: left;
    min-height: 800px;
    margin: 0 auto;
}
/*각각의 세멘틱 태그를 border로 구분한다.*/
header, footer,aside, section {
    border: 1px solid #999;
    margin: 5px;
    padding: 10px;
}
/*사이트의 제목 부분 */
header {
    height: 80px;
    background-color: #1d2847;
}
/*로고 글자색 변경*/
header h1{inline}
header h1 a{text-decoration: none;color : #0055aa;}
header h1 a:active{text-decoration: none;color : #0055aa;}
header h1 a:hover{text-decoration: none;color : #0055aa;}
header h1 a:visited{text-decoration: none;color : #0055aa;}
/*검색창 부분 시작*/
#toplogo,#topsearch,#topBtn, #toplogo h2{
    display: inline-block;
}
#toplogo{
    width: 200px;
    margin-left: 4px;         
}

#topsearch{
    width: 450px;
    margin-top:20px;
    background: #1d2847;
    position: absolute;
    text-align: center;
}
#topsearch form {
    width: 450px;
    /* border: 1px solid #000;
    border-radius: 5px; */
    display: inline-block;
    font-size: 0px;
    position: relative;
    z-index: 1;
}
#topsearch input {
    background: #222;   
    background: linear-gradient(#333, #222);    
    border: 1px solid #444;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 320px;
}
.ie #topsearch input {
    line-height: 40px;
}
#topsearch input::-webkit-input-placeholder {
   color: #888;
}
#topsearch input:-moz-placeholder {
   color: #888;
}
#topsearch input:focus {
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    color: #efe;
    outline: none;
}
#topsearch input:focus::-webkit-input-placeholder { 
    color: #efe;
}
#topsearch input:focus:-moz-placeholder {
    color: #efe;
}
#topsearch button {
    background: #222;
    background: linear-gradient(#333, #222);
    box-sizing: border-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 80px;
} 
#topsearch button:hover,
#topsearch button:focus {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    color: #5f5;
    outline: none;
}
#topsearch button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}/*검색 부분 끝*/
/*로그인, 회원가입, 장바구니 버튼 설정*/
#topBtn{
    margin-top:30px;
    float: right;
    /* width: 300px; */
}
.topBtns{
    color:#fff;
    text-align: center;
    padding: 10px;
}
.topBtns {
    position: relative;
    background-color: #DF4B05;
    border: none;
    padding: 10px;
    width: 90px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
}


.topBtns:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

/*목록 부분 시작*/
.dropdownmenu{margin-left: 0.5%;width: 1200px;}
.dropdownmenu ul, .dropdownmenu li {
    margin: 0;
    padding: 0;
}
.dropdownmenu ul {
    background: gray;
    list-style: none;
    width: 100%;
}
.dropdownmenu li {
    float: left;
    position: relative;
    width:120px;
}
.dropdownmenu a {
    background: #0c0226;
    color: #FFFFFF;
    display: block;
    font: bold 12px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.dropdownmenu li:hover a {
    background: #000000;
}
.submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}
li:hover ul.submenu {
    opacity: 1;
    top: 40px;  
    visibility: visible;
}
.submenu li {
    float: none;
    width: 100%;
}
.submenu li a:hover {
    background: #DF4B05;
}
.submenu a {
    background-color:#000000;
}

#blankdiv{
	width:100%;
	height:50px;
}
/*사이드 공지사항이나 검색기능 넣을 예정*/
aside {
    float: left;
    min-height: 240px;    
    background-color: #1d2847;
    width: 270px;
}
aside p a{text-decoration: none; color:white;}
aside p a:visited{text-decoration: none; color:white;}
aside p a:active{text-decoration: none; color:white;}
aside p a:hover{text-decoration: none; color:white;}
/*본문 부분*/
section {
    float: left;
    background-color: #1d2847;   
    width: 860px;
    min-height: 400px;
}
/*사이트 정보 입력 부분*/
footer {
    height: 80px;
    background-color: black;
    position: relatiev;
    clear: both;
}
