aside {
  width: 200px;
  min-height: 240px;
  background-color: #0c0226;
  position: relative;
  float: left;  
  padding: 25px 0 0 0;
}
aside a {
  display: block;
  line-height: 40px;
  border-right: 4px solid transparent;
  cursor: pointer;
  transition: background-color .3s linear,
              border-right-color .3s linear,
              color .3s linear;
  
  color: white;
  padding: 0 0 0 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
aside a:hover,
aside a.current { 
  background-color: #000000;
  border-right-color: #DF4B05;
  
  color: white;
}