<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamehub.mapper.AdminProductMapper">
	<!-- 상품 등록 -->
	<insert id="register">
		insert into tbl_product values(product_num_seq.nextval, #{cg_code}, #{pd_name}, 
		#{pd_price}, #{pd_discount}, #{pd_develop}, #{pd_content}, #{pd_bonus}, 
		#{pd_requirement}, #{pd_publisher}, #{pd_img}, #{pd_amount}, #{pd_korea}, 
		#{pd_buy}, #{pd_release}, sysdate, sysdate, #{mem_id})
	</insert>
	<!-- 카테고리 받아오기 -->
	<select id="getCategory" resultType="CategoryVO">
		select LEVEL, cg_name, cg_code, cg_parent
		from tbl_category
		start with CG_PARENT IS NULL
		connect by prior cg_code = cg_parent
	</select>
	<!-- 추가 첨부이미지 저장 -->
	<insert id="addAttach" parameterType="AttachVO">
		<selectKey resultType="int" keyProperty="pd_num" order="BEFORE" >
			select product_num_seq.currval from dual
		</selectKey>
		insert into 
		tbl_attach(a_fullname, pd_num, a_filename, a_format, a_scalname) 
		values(#{a_fullname},#{pd_num}, #{a_filename}, #{a_format}, #{a_scalname})
	</insert>
	<!-- list출력 데이터 받아오기 -->
	<select id="getlistAll" resultType="ProductVO">
		select pd_num,pd_img, pd_price, pd_name, pd_discount, pd_publisher, pd_amount, pd_buy, pd_release, pd_regdate
		from tbl_product
	</select>
	<!-- 판매승인여부 업데이트 -->
	<update id="approval">
		update tbl_product set pd_buy = #{pd_buy} 
		where pd_num = #{pd_num}
	</update>
	<!-- 업데이트 할 정보 받아오기 -->
	<select id="updateInfo" resultType="ProductVO">
		select p.pd_num, p.cg_code, p.pd_name, p.pd_price, p.pd_discount, 
		p.pd_develop, p.pd_content, p.pd_bonus, 
		p.pd_requirement, p.pd_publisher, p.pd_img, p.pd_amount, p.pd_korea,
		p.pd_buy, p.pd_release, c1.cg_parent, c2.cg_parent cg_ancestor
 		from tbl_product p 
    		inner join tbl_category c1 on p.cg_code = c1.CG_CODE
    		inner join tbl_category c2 on c1.CG_PARENT = c2.CG_CODE
		where pd_num = #{pd_num}
	</select>
	<!-- 업데이트할 Attach정보 받아오기 -->
	<select id="getAttach" resultType="AttachVO">
		select a_fullname, a_filename, a_format, a_scalname from tbl_attach where pd_num = #{pd_num}
	</select>
	<!-- list에서 사용할 카테고리 정보 -->
	<select id="getSearchCategory" resultType="ProductVO">
		select c2.cg_code cg_code, c1.CG_CODE cg_parent, c1.CG_PARENT cg_ancestor
		 from tbl_category c1 INNER JOIN tbl_category c2
		 ON c1.CG_CODE = c2.CG_PARENT
		 where c2.CG_CODE = #{cateCode}
	</select>
	<!-- product 업데이트 -->
	<update id="productUpdate">
		update tbl_product set cg_code = #{cg_code}, pd_name = #{pd_name}, 
		pd_price = #{pd_price}, pd_discount = #{pd_discount}, pd_develop = #{pd_develop}, 
		pd_content = #{pd_content}, pd_bonus = #{pd_bonus},	pd_requirement = #{pd_requirement}, 
		pd_publisher = #{pd_publisher}, pd_img = #{pd_img}, pd_amount = #{pd_amount}, pd_korea = #{pd_korea}, 
		pd_buy = #{pd_buy}, pd_release = #{pd_release}, pd_updatedate = sysdate, mem_id = #{mem_id}
		where pd_num = #{pd_num}
	</update>	
	<!-- 추가 첨부이미지 업데이트용 인설트 -->
	<insert id="attachUpdate" parameterType="AttachVO">
		insert into 
		tbl_attach(a_fullname, pd_num, a_filename, a_format, a_scalname) 
		values(#{a_fullname},#{pd_num}, #{a_filename}, #{a_format}, #{a_scalname})
	</insert>
	<!-- product 삭제 -->
	<delete id="productDelete">
		delete from tbl_product where pd_num = #{pd_num}
	</delete>
	<!-- Attach 삭제 -->
	<update id="attachDelete">
		delete from tbl_attach where pd_num = #{pd_num}
	</update>
	
	<!-- 서치 페이징 작업이 들어간 리스트 시작 -->
	<sql id="search">
	<if test="searchType != null" > 
		<!-- 상품명으로 검색 -->
   		<if test="searchType == 'pn'.toString()">
     		and pd_name like '%' || #{keyword} || '%'
   		</if>
   		<!-- 1차 카테고리로 검색 -->
   		<if test="searchType == 'ctg1'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   		</if>
   		<!-- 2차 카테고리로 검색 -->
   		<if test="searchType == 'ctg2'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   		</if>
   		<!-- 3차 카테고리로 검색 -->
   		<if test="searchType == 'ctg3'.toString()">
   			and CG_CODE = #{cateCode}
   		</if>     
   		<!-- 가격별로 검색 -->
   		<!-- 최저값만 있을 때 -->
   		<if test="searchType == 'ppmin'.toString()">
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 최대값만 있을 때 -->
   		<if test="searchType == 'ppmax'.toString()">
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>              
   		<!-- 둘 모두 있을 때 -->
   		<if test="searchType == 'pp'.toString()">
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 날짜별로 검색 -->
   		<if test="searchType == 'pd'.toString()">
     		and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 판매여부로 검색 -->
   		<if test="searchType == 'pb'.toString()">
     		and pd_buy = #{display}
   		</if>
   		
		<!-- 1차카테고리 경우의 수 -->
		<!-- 2개씩 검색할 때 -->
		<!-- 1차카테 & 상품명 검색 -->
		<if test="searchType == 'ctg1_pn'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   		</if>
   		<!-- 1차카테 & 최소가격 검색 -->
		<if test="searchType == 'ctg1_ppmin'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 1차카테 & 최대가격 검색 -->
		<if test="searchType == 'ctg1_ppmax'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 1차카테 & 모든가격 검색 -->
		<if test="searchType == 'ctg1_pp'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 1차카테 & 날짜 검색 -->
		<if test="searchType == 'ctg1_pd'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 1차카테 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_buy = #{display}
   		</if>
   		<!-- 1차 카테고리 2개씩 검색 끝 -->
   		
   		<!-- 1차 카테고리 3개씩 검색 -->
   		<!-- 1차카테 & 상품명 & 최소가격 검색 -->
		<if test="searchType == 'ctg1_pn_ppmin'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 1차카테 & 상품명 & 최대가격 검색 -->
		<if test="searchType == 'ctg1_pn_ppmax'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 1차카테 & 상품명 & 가격 검색 -->
		<if test="searchType == 'ctg1_pn_pp'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 1차카테 & 상품명 & 날짜 검색 -->
		<if test="searchType == 'ctg1_pn_pd'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 1차카테 & 상품명 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_pn_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   			and pd_buy = #{display}
   		</if>   		
   		<!-- 1차카테 & 최저가격 & 날짜 검색 -->
		<if test="searchType == 'ctg1_ppmin_pd'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 1차카테 & 최저가격 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_ppmin_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 1차카테 & 최대가격 & 날짜 검색 -->
		<if test="searchType == 'ctg1_ppmax_pd'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 1차카테 & 최대가격 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_ppmax_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 1차카테 & 가격 & 날짜 검색 -->
		<if test="searchType == 'ctg1_pp_pd'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 1차카테 & 가격 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_pp_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 1차 카테고리 3개씩 검색 끝 -->
   		
   		<!-- 1차 카테고리 4개씩 검색 -->
   		<!-- 1차카테 & 상품명 & 최저금액 & 날짜 검색 -->
		<if test="searchType == 'ctg1_pn_ppmin_pd'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 1차카테 & 상품명 & 최저금액 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_pn_ppmin_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 1차카테 & 상품명 & 최대금액 & 날짜 검색 -->
		<if test="searchType == 'ctg1_pn_ppmax_pd'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 1차카테 & 상품명 & 최대금액 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_pn_ppmax_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 1차카테 & 상품명 & 금액 & 날짜 검색 -->
		<if test="searchType == 'ctg1_pn_pp_pd'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 1차카테 & 상품명 & 금액 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_pn_pp_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 1차 카테고리 4개씩 검색 끝 -->
   		
   		<!-- 1차 카테고리 5개씩 검색 -->
   		<!-- 1차카테 & 상품명 & 최저금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_pn_ppmin_pd_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 1차카테 & 상품명 & 최대금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_pn_ppmax_pd_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 1차카테 & 상품명 & 금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'ctg1_pn_pp_pd_pb'.toString()">
   			and CG_CODE in (select c2.CG_CODE from TBL_CATEGORY c1 inner join TBL_CATEGORY c2 on c1.CG_CODE = c2.cg_parent where c1.cg_parent= #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 1차 카테고리 5개씩 검색 끝 -->
   		<!-- 1차 카테고리 끝 -->
   		
   		<!-- 2차카테고리 경우의 수 -->
		<!-- 2개씩 검색할 때 -->
		<!-- 2차카테 & 상품명 검색 -->
		<if test="searchType == 'ctg2_pn'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   		</if>
   		<!-- 2차카테 & 최소가격 검색 -->
		<if test="searchType == 'ctg2_ppmin'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 2차카테 & 최대가격 검색 -->
		<if test="searchType == 'ctg2_ppmax'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 2차카테 & 모든가격 검색 -->
		<if test="searchType == 'ctg2_pp'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 2차카테 & 날짜 검색 -->
		<if test="searchType == 'ctg2_pd'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 2차카테 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_buy = #{display}
   		</if>
   		<!-- 2차 카테고리 2개씩 검색 끝 -->
   		
   		<!-- 2차 카테고리 3개씩 검색 -->
   		<!-- 2차카테 & 상품명 & 최소가격 검색 -->
		<if test="searchType == 'ctg2_pn_ppmin'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 2차카테 & 상품명 & 최대가격 검색 -->
		<if test="searchType == 'ctg2_pn_ppmax'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 2차카테 & 상품명 & 가격 검색 -->
		<if test="searchType == 'ctg2_pn_pp'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 2차카테 & 상품명 & 날짜 검색 -->
		<if test="searchType == 'ctg2_pn_pd'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 2차카테 & 상품명 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_pn_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
   			and pd_buy = #{display}
   		</if>   		
   		<!-- 2차카테 & 최저가격 & 날짜 검색 -->
		<if test="searchType == 'ctg2_ppmin_pd'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 2차카테 & 최저가격 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_ppmin_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 2차카테 & 최대가격 & 날짜 검색 -->
		<if test="searchType == 'ctg2_ppmax_pd'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 2차카테 & 최대가격 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_ppmax_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 2차카테 & 가격 & 날짜 검색 -->
		<if test="searchType == 'ctg2_pp_pd'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 2차카테 & 가격 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_pp_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 2차 카테고리 3개씩 검색 끝 -->
   		
   		<!-- 2차 카테고리 4개씩 검색 -->
   		<!-- 2차카테 & 상품명 & 최저금액 & 날짜 검색 -->
		<if test="searchType == 'ctg2_pn_ppmin_pd'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 2차카테 & 상품명 & 최저금액 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_pn_ppmin_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 2차카테 & 상품명 & 최대금액 & 날짜 검색 -->
		<if test="searchType == 'ctg2_pn_ppmax_pd'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 2차카테 & 상품명 & 최대금액 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_pn_ppmax_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 2차카테 & 상품명 & 금액 & 날짜 검색 -->
		<if test="searchType == 'ctg2_pn_pp_pd'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 2차카테 & 상품명 & 금액 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_pn_pp_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 2차 카테고리 4개씩 검색 끝 -->
   		
   		<!-- 2차 카테고리 5개씩 검색 -->
   		<!-- 2차카테 & 상품명 & 최저금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_pn_ppmin_pd_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 2차카테 & 상품명 & 최대금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_pn_ppmax_pd_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 2차카테 & 상품명 & 금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'ctg2_pn_pp_pd_pb'.toString()">
   			and CG_CODE in (select CG_CODE from TBL_CATEGORY where cg_parent = #{cateCode})
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 2차 카테고리 5개씩 검색 끝 -->
   		<!-- 2차 카테고리 끝 -->
   		
   		<!-- 3차카테고리 경우의 수 -->
		<!-- 2개씩 검색할 때 -->
		<!-- 3차카테 & 상품명 검색 -->
		<if test="searchType == 'ctg3_pn'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
   		</if>
   		<!-- 3차카테 & 최소가격 검색 -->
		<if test="searchType == 'ctg3_ppmin'.toString()">
   			and CG_CODE = #{cateCode}
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 3차카테 & 최대가격 검색 -->
		<if test="searchType == 'ctg3_ppmax'.toString()">
   			and CG_CODE = #{cateCode}
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 3차카테 & 모든가격 검색 -->
		<if test="searchType == 'ctg3_pp'.toString()">
   			and CG_CODE = #{cateCode}
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 3차카테 & 날짜 검색 -->
		<if test="searchType == 'ctg3_pd'.toString()">
   			and CG_CODE = #{cateCode}
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 3차카테 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_buy = #{display}
   		</if>
   		<!-- 3차 카테고리 2개씩 검색 끝 -->
   		
   		<!-- 3차 카테고리 3개씩 검색 -->
   		<!-- 3차카테 & 상품명 & 최소가격 검색 -->
		<if test="searchType == 'ctg3_pn_ppmin'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 3차카테 & 상품명 & 최대가격 검색 -->
		<if test="searchType == 'ctg3_pn_ppmax'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 3차카테 & 상품명 & 가격 검색 -->
		<if test="searchType == 'ctg3_pn_pp'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 3차카테 & 상품명 & 날짜 검색 -->
		<if test="searchType == 'ctg3_pn_pd'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 3차카테 & 상품명 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_pn_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
   			and pd_buy = #{display}
   		</if>   		
   		<!-- 3차카테 & 최저가격 & 날짜 검색 -->
		<if test="searchType == 'ctg3_ppmin_pd'.toString()">
   			and CG_CODE = #{cateCode}
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 3차카테 & 최저가격 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_ppmin_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 3차카테 & 최대가격 & 날짜 검색 -->
		<if test="searchType == 'ctg3_ppmax_pd'.toString()">
   			and CG_CODE = #{cateCode}
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 3차카테 & 최대가격 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_ppmax_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 3차카테 & 가격 & 날짜 검색 -->
		<if test="searchType == 'ctg3_pp_pd'.toString()">
   			and CG_CODE = #{cateCode}
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 3차카테 & 가격 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_pp_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 3차 카테고리 3개씩 검색 끝 -->
   		
   		<!-- 3차 카테고리 4개씩 검색 -->
   		<!-- 3차카테 & 상품명 & 최저금액 & 날짜 검색 -->
		<if test="searchType == 'ctg3_pn_ppmin_pd'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 3차카테 & 상품명 & 최저금액 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_pn_ppmin_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 3차카테 & 상품명 & 최대금액 & 날짜 검색 -->
		<if test="searchType == 'ctg3_pn_ppmax_pd'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 3차카테 & 상품명 & 최대금액 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_pn_ppmax_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 3차카테 & 상품명 & 금액 & 날짜 검색 -->
		<if test="searchType == 'ctg3_pn_pp_pd'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 3차카테 & 상품명 & 금액 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_pn_pp_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 3차 카테고리 4개씩 검색 끝 -->
   		
   		<!-- 3차 카테고리 5개씩 검색 -->
   		<!-- 3차카테 & 상품명 & 최저금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_pn_ppmin_pd_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 3차카테 & 상품명 & 최대금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_pn_ppmax_pd_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 3차카테 & 상품명 & 금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'ctg3_pn_pp_pd_pb'.toString()">
   			and CG_CODE = #{cateCode}
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 3차 카테고리 5개씩 검색 끝 -->
   		<!-- 3차 카테고리 끝 -->
   		
   		<!-- 카테고리 없는 경우의 수 -->
		<!-- 2개씩 검색할 때 -->
		<!-- 상품명 & 최소가격 검색 -->
		<if test="searchType == 'pn_ppmin'.toString()">
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 상품명 & 최대가격 검색 -->
		<if test="searchType == 'pn_ppmax'.toString()">   			
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 상품명 & 가격 검색 -->
		<if test="searchType == 'pn_pp'.toString()">   			
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   		</if>
   		<!-- 상품명 & 날짜 검색 -->
		<if test="searchType == 'pn_pd'.toString()">
   			and pd_name like '%' || #{keyword} || '%'
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 상품명 & 판매여부 검색 -->
		<if test="searchType == 'pn_pb'.toString()">   			
   			and pd_name like '%' || #{keyword} || '%'
   			and pd_buy = #{display}
   		</if>   		
   		<!-- 최저가격 & 날짜 검색 -->
		<if test="searchType == 'ppmin_pd'.toString()">   			
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 최저가격 & 판매여부 검색 -->
		<if test="searchType == 'ppmin_pb'.toString()">   			
   			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 최대가격 & 날짜 검색 -->
		<if test="searchType == 'ppmax_pd'.toString()">   			
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 최대가격 & 판매여부 검색 -->
		<if test="searchType == 'ppmax_pb'.toString()">   			
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 가격 & 날짜 검색 -->
		<if test="searchType == 'pp_pd'.toString()">   			
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 가격 & 판매여부 검색 -->
		<if test="searchType == 'pp_pb'.toString()">   			
   			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 2개씩 검색 끝 -->
   		
   		<!-- 3개씩 검색 -->
   		<!-- 상품명 & 최저금액 & 날짜 검색 -->
		<if test="searchType == 'pn_ppmin_pd'.toString()">
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 상품명 & 최저금액 & 판매여부 검색 -->
		<if test="searchType == 'pn_ppmin_pb'.toString()">   			
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 상품명 & 최대금액 & 날짜 검색 -->
		<if test="searchType == 'pn_ppmax_pd'.toString()">   			
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 상품명 & 최대금액 & 판매여부 검색 -->
		<if test="searchType == 'pn_ppmax_pb'.toString()">   			
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 상품명 & 금액 & 날짜 검색 -->
		<if test="searchType == 'pn_pp_pd'.toString()">   			
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   		</if>
   		<!-- 상품명 & 금액 & 판매여부 검색 -->
		<if test="searchType == 'pn_pp_pb'.toString()">   			
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 3개씩 검색 끝 -->
   		
   		<!-- 4개씩 검색 -->
   		<!-- 상품명 & 최저금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'pn_ppmin_pd_pb'.toString()">
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 상품명 & 최대금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'pn_ppmax_pd_pb'.toString()">
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 상품명 & 금액 & 날짜 & 판매여부 검색 -->
		<if test="searchType == 'pn_pp_pd_pb'.toString()">
   			and pd_name like '%' || #{keyword} || '%'
			and <![CDATA[ #{maxPrice} > ((pd_price/100)*(100-pd_discount)) ]]>
			and <![CDATA[ #{minPrice} < ((pd_price/100)*(100-pd_discount)) ]]>
   			and <![CDATA[ To_Date( pd_regdate, 'yyyy.mm.dd') >= (To_Date( sysdate, 'yyyy.mm.dd')-#{date}) ]]>
   			and pd_buy = #{display}
   		</if>
   		<!-- 4개씩 검색 끝 -->
   		<!-- 카테고리 없이 끝 -->
 	</if>  
</sql>
	
	<select id="searchListPage" parameterType="SearchPaging" resultType="ProductVO">
	<![CDATA[
	SELECT pd_num,pd_img, mem_id,pd_price, pd_name, pd_discount, pd_publisher, pd_amount, pd_buy, pd_release, pd_regdate
          FROM (
            SELECT pd_num,pd_img, mem_id, pd_price, pd_name, pd_discount, pd_publisher, pd_amount, pd_buy, pd_release, pd_regdate
              , ROW_NUMBER() OVER(ORDER BY pd_num DESC) board_seq
          FROM tbl_product where pd_num > 0
    ]]>    
          <include refid="search"></include>
    <![CDATA[
         )  DS
         WHERE board_seq BETWEEN #{startQuery} AND #{endQuery}
    ]]>
	</select>
	
	<select id="searchCount" parameterType="SearchPaging" resultType="int">
		<![CDATA[
		select count(pd_num) from tbl_product where pd_num > 0
		]]>
		<include refid="search"></include>
	</select>
	<!-- 서치 페이징 작업이 들어간 리스트 끝 -->
</mapper>